* {
    background-color: rgb(219, 108, 108);
}
hr {
    background-color: rgb(0, 0, 0); 
    border: none; 
    height: 1px;
}
header {
    text-align: center;
    border-radius: 3px;
    background-color: rgb(175, 174, 174);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
figure, .navbar, h1, .navbar a{
    background-color: rgb(175, 174, 174)
}

 #order-form, #order-form h2, #order-form form, #order-form h3,
 #order-form div, #order-form label{
    background-color: rgb(175, 174, 174);
    border-radius: 5px;
    border-collapse: collapse;
   }
section {
    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    
}
footer {
    text-align: center;
}
.submit-order {
    text-align: center;
    border-radius:5px;
    background-color: red;

}
.menu-info {
    text-align:center;
}